.company-profile {
    width: 40%;
    position: fixed;
    background: #fff;
    right: 0;
    box-shadow: -3px 4px 8px -6px rgba(0,0,0,0.75);
	top: 112px;
	bottom: 0px;
	
	.profile-header{
		background: #4e4e4e;
    	height: 187px;

		.profile-pic {
		    padding-left: 67px;
		    padding-top: 32px;
		    width: 27%;
			float: left;
			.crm-update-pic {
				font-size: 14px;
				margin-top: -132px;
				margin-left: 118px;
				color: #fff
			}
			.crm-pic-update:hover {
				cursor: pointer;
				color: #007bff
			}
		}

		.profile-name{
			font-size: 47px;
		    font-weight: 500;
		    width: 73%;
		    float: right;
		    margin-top: 58px;
		    padding-left: 9px;
			color: #fff;

			.crm-update {
				font-size: 14px;
				margin-left: 7px;
				margin-top: -19px;
			}
			.crm-update:hover {
				cursor: pointer;
				color: #007bff
			}
		}
	}

	.profile-content {
	    padding-top: 39px;
	    padding-left: 71px;
	    padding-right: 72px;
	    padding-bottom: 25px;

	    .col-md-12.crm-list {
		    padding-top: 21px;
			
			.contact-details-lists {
			    display: -webkit-flex;  
			    display: flex;
			    margin-top: 16px;
	    		font-weight: 500;
			}

			.contact-details-lists div {
			  -webkit-flex: 1;   
			  -ms-flex: 1;  
			  flex: 1; 
			}

		}

	}

	.crm-prof-icons{
		color: #007bff;
	}

	.crm-label {
	    font-weight: 800;
	    padding-left: 9px;
	    padding-top: 0px;
	    padding-right: 19px;
	    margin-top: 12px;
	}
}

.list-label {
	color:gray;
	max-width: 178px;
}

// company update
.btn-crm {
    margin: 5px;
}