form.form-inline.headerForm {
    border-left: 2px solid #e6e6e6;
	padding: 8px 15px;
	
	.user-profile {
		margin: 0 8px;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
		left: -127px;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.btn-logout:hover {
		 text-decoration: none
	}
	  
}

a.addContacts {
    padding-right: 12px;
    cursor: pointer;
} 

a.addContacts > span:hover {
    color:blue;
}  

button.search-btn {
    padding: 6px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e6e6e6;
    border: 1px solid #dcd5d5;
    border-right: none;
}	

input.form-control.mr-sm-2.contact-search {
    border-top-left-radius: 0px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 0px;
    border-left: none;
    padding-left: 0px;
} 

a.crm-icons {
    padding: 5px;
}

select.crm-options {
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    line-height: 4px;
    background: transparent;
    padding: 4px 11px;
}

nav.navbar.navbar-light.bg-light.justify-content-between {
    padding: 0;
}

 
.crd-modal-bg {
   
    height: 100%;
    background: rgba(10, 10, 10, .5);
    width: 100%;
    position: absolute;
    top: 0;
	left: 0;
	z-index:1;

	.crmModal {
	    width: 247px;
	    height: 138px;
	    position: absolute;
	    background: #fff;
	    padding: 12px;
	    border-radius: 10px;
	    z-index: -1px;
	    right: 14%;
	    top: 6%;

	    .modal-title {
		    margin-bottom: 0;
		    line-height: 1.5;
		    font-weight: 500;
		    color: #9a9a9a;
		    padding-left: 6px;
		}

		.modal-content {
		    border-style: none;
		    background: transparent;

		    ul.list-options {
			    list-style: none;
			    padding: 7px 6px;

			    .crm-btn:hover {
				    cursor: pointer;
				}
			}

			i.list-icon {
			    color: #9b9bff;
			    padding-right: 7px;
			}
		}

		.crm-btn:hover {
			color:#9b9bff;
		}
	}
}
