
.contactForm {
    position: fixed;
    width: 40%;
    right: 0;
    background: #fff;
	box-shadow: -3px 4px 8px -6px rgba(0,0,0,0.75);
	top: 112px;
	padding: 0px 70px;
	bottom: 0;

    .contact-title {
	    font-size: 27px;
	    font-weight: 700;
	    color: #131110;
	    padding: 27px 6px;
	    text-align: center;
	    text-transform: uppercase;

	    .contact-icon {
		    padding-right: 17px;
		}
		
		i.fas.fa-user-circle.contact-icon {
			color: #007bff;
		}
	}

	.react-switch-handle {
	    height: 15px !important;
	    width: 15px !important;
	    top: 7px !important;
	    left: 7px !important;
	}

	.crm-switch {
	    margin-bottom: -10px;
	    margin-right: 8px;
	}
}

.filled-in {
    margin: 0px 7px;
}
